<div class="swiper-slide">
  <article class="card">
    <div class="card__picture">
      <img
        src="./img/arrivals/@@img.jpg"
        srcset="./img/arrivals/@@img@2x.jpg 2x"
        alt="Headphones"
      />
      <div class="card__new">@@status</div>
      <div class="card__fav">
        <button class="btn__fav">
          <img src="./img/icons/fav.svg" alt="Fav" />
        </button>
      </div>
      <div class="card__btn">
        <button class="btn btn--small btn--wide">Add to cart</button>
      </div>
    </div>
    <div class="card__desc">
      <div class="card__rating">
        @@for (let i = 0; i < context.rating; i++) {
        <img src="./img/icons/star.svg" alt="Star" />
        }
      </div>
      <h3 class="card__title">@@title</h3>
      <div class="card__price">@@price</div>
    </div>
    <a href="#!" class="card__link"></a>
  </article>
</div>
